@model TravelApplicationNET.Models.RoomDetails

@{
    ViewBag.Title = "AddRoom";
    var hotel = @Context.Request.Params.Get(0);
}

<h2>@ViewBag.Message</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Room Details</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RoomNb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RoomNb)
            @Html.ValidationMessageFor(model => model.RoomNb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NbOfBeds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NbOfBeds)
            @Html.ValidationMessageFor(model => model.NbOfBeds)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PricePerNight)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PricePerNight)
            @Html.ValidationMessageFor(model => model.PricePerNight)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SmokingAllowed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SmokingAllowed)
            @Html.ValidationMessageFor(model => model.SmokingAllowed)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

