@model IEnumerable<TravelApplicationNET.Models.Booking>

@{
    ViewBag.Title = "Cleanup";
}

<h2>@ViewBag.Message</h2>

<h3>Are you sure you want to delete all these bookings?</h3>
<table>
    <tr>
        <th>
            Hotel name
        </th>
        <th>
            Room number
        </th>
        <th>
            Guest
        </th>
        <th>
            Start date
        </th>
        <th>
            End date
        </th>
        <th>
            Price
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.HotelName
        </td>
        <td>
            @item.RoomNb
        </td>
        <td>
            @item.Guest
        </td>
        <td>
            @String.Format("{0:g}", item.StartDate)
        </td>
        <td>
            @String.Format("{0:g}", item.EndDate)
        </td>
        <td>
            @String.Format("{0:F}", item.Price)
        </td>
    </tr>
}

</table>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}