@{
    ViewBag.Title = "Search";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Booking period</legend>

        <div class="editor-label">
            @Html.Label("startDate", "Enter start date (dd/mm/yyyy):")
        </div>
        <div class="editor-field">
            @Html.Editor("startDate")
        </div>

        <div class="editor-label">
            @Html.Label("endDate", "Enter end date (dd/mm/yyyy):")
        </div>
        <div class="editor-field">
            @Html.Editor("endDate")
        </div>

        <p>
            <input type="submit" value="Search available hotels" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>